<div>
    <h1>{{ _('Connection settings') }}</h1>
    <div>
        <form class="form-horizontal">
            <div class="control-group" title="{{ _('Serial port to connect to') }}">
                <label class="control-label" for="settings-port">{{ _('Serial Port') }}</label>
                <div class="controls">
                    <select id="settings-port"
                            data-bind="options: settings.plugins.pantilt_nano.ports, value: settings.plugins.pantilt_nano.port"></select>
                </div>
            </div>
        </form>

<!--
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Port') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settings.plugins.pantilt_nano.port">
                </div>
            </div>
        </form>
-->
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Baud') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settings.plugins.pantilt_nano.baud">
                </div>
            </div>
        </form>

    </div>
</div>

<div>
    <h1>{{ _('Pan settings') }}</h1>
    <div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Min Pan Value') }}</label>
                <div class="controls">
                    <input type="number" class="input-block-level"
                           data-bind="value: settings.plugins.pantilt_nano.pan.minUs">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Max Pan Value') }}</label>
                <div class="controls">
                    <input type="number" class="input-block-level"
                           data-bind="value: settings.plugins.pantilt_nano.pan.maxUs">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Invert Pan') }}</label>
                <div class="controls">
                    <input type="checkbox" class="input-block-level"
                           data-bind="checked: settings.plugins.pantilt_nano.pan.invert">
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <h1>{{ _('Tilt settings') }}</h1>
    <div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Min Tilt Value') }}</label>
                <div class="controls">
                    <input type="number" class="input-block-level"
                           data-bind="value: settings.plugins.pantilt_nano.tilt.minUs">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Max Tilt Value') }}</label>
                <div class="controls">
                    <input type="number" class="input-block-level"
                           data-bind="value: settings.plugins.pantilt_nano.tilt.maxUs">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Invert Tilt') }}</label>
                <div class="controls">
                    <input type="checkbox" class="input-block-level"
                           data-bind="checked: settings.plugins.pantilt_nano.tilt.invert">
                </div>
            </div>
        </form>
    </div>
</div>
